.container, .inner{
    width: 200px;
    height: 200px;
}

.container{
    border: 2px solid steelblue;
    background-color: mediumaquamarine;
}

.inner{
    background-color: palegoldenrod;
    /* transform: scale(0.25, 0.5); */
    transition: width 2s linear 3s, background-color 3s ease-in 2s;
}

.inner:hover{
    width: 500px;
    background-color: red;
}
